<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>

  <p>Posted by {{user.name}} on {{format_date date_created}}</p>

  <br>
  <br>
  <h4>Reader Comments</h4>

  {{#each comments as |comment| }}
  <div class="col-md-12">
    <p>
      {{comment.comment}}
    </p>
  </div>
  {{/each}}


  <form class="comment-form" data-post-id="{{id}}">
    <button class="btn btn-primary">Add a Comment!</button>
    <input name="comment">
  </form>

</div>
<script src="/js/comment.js"></script>